<a href="https://colab.research.google.com/github/lyngoo/lyn/blob/main/%EC%9D%B4%EC%9D%B8%EA%B5%AC4%EA%B0%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [3]:
a=pd.Series([7,3,5,8])

In [4]:
a

0    7
1    3
2    5
3    8
dtype: int64

In [5]:
(a[0],a[1],a[2])

(7, 3, 5)

In [14]:
x=pd.Series([7,3,5,8],index=['A','B','C','D'])

In [15]:
x['A']

7

In [17]:
x['B']

3

In [18]:
x[['A','B']]

A    7
B    3
dtype: int64

In [20]:
x.index

Index(['A', 'B', 'C', 'D'], dtype='object')

In [22]:
x.values

array([7, 3, 5, 8])

In [25]:
print(sorted(x.index))

['A', 'B', 'C', 'D']

In [26]:
print(sorted(x.values))

[3, 5, 7, 8]

In [27]:
x=pd.Series([7,3,5,8],index=['dog','cat','pandas','turtle'])

In [29]:
sorted(x.index)

['cat', 'dog', 'pandas', 'turtle']

In [30]:
x.reindex(sorted(x.index))

cat       3
dog       7
pandas    5
turtle    8
dtype: int64

In [31]:
x=pd.Series([7,3,5,8],index=['dog','cat','pandas','turtle'])
y=pd.Series([2,4,5,1],index=['cat','pandas','dog','penguin'])
x+y

cat         5.0
dog        12.0
pandas      9.0
penguin     NaN
turtle      NaN
dtype: float64

In [33]:
val=[1,3,2,4,2,3]
x=pd.Series(val)
pd.unique(x)

array([1, 3, 2, 4])

In [36]:
age={'민준':23,'현우':43,'서연':12,'동헌':45}
pdata=pd.Series(age)
pdata

민준    23
현우    43
서연    12
동헌    45
dtype: int64

In [37]:
names=['민준','서연','현우','민서','동현','수빈']
pdata=pd.Series(names)
pdata

0    민준
1    서연
2    현우
3    민서
4    동현
5    수빈
dtype: object

In [39]:
a=pdata[3:6]
print(a)

3    민서
4    동현
5    수빈
dtype: object

In [50]:
data={'age':[23,43,12,45],'name':['민준','현우','서연','동현'],'height':[175.3,180.3,165.8,172.7]}
x=pd.DataFrame(data, columns=['name','age','height'])
x

  name  age  height
0   민준   23   175.3
1   현우   43   180.3
2   서연   12   165.8
3   동현   45   172.7

In [51]:
x.name

0    민준
1    현우
2    서연
3    동현
Name: name, dtype: object

In [56]:
ary=[[1,2],[3,4],[5,6]]
data=pd.DataFrame(ary,columns=['first','second'])
data

   first  second
0      1       2
1      3       4
2      5       6

In [57]:
data.iloc[1]

first     3
second    4
Name: 1, dtype: int64

In [58]:
data.iloc[:,1]

0    2
1    4
2    6
Name: second, dtype: int64

In [61]:
ary=[[1,2],[3,4],[5,6],[7,8],[9,10],[11,12],[13,14]]
data=pd.DataFrame(ary,columns=['first','second'])
data

   first  second
0      1       2
1      3       4
2      5       6
3      7       8
4      9      10
5     11      12
6     13      14

In [62]:
data.head()

   first  second
0      1       2
1      3       4
2      5       6
3      7       8
4      9      10

In [63]:
data.head(3)

   first  second
0      1       2
1      3       4
2      5       6

In [64]:
data.tail()

   first  second
2      5       6
3      7       8
4      9      10
5     11      12
6     13      14

In [65]:
data.tail(3)

   first  second
4      9      10
5     11      12
6     13      14

In [66]:
ary=[[1,2],[3,4],[5,6],[7,8],[9,10]]
data=pd.DataFrame(ary,columns=['first','second'])
data

   first  second
0      1       2
1      3       4
2      5       6
3      7       8
4      9      10

In [67]:
bools=[False,True,True,False,True]
data[bools]

   first  second
1      3       4
2      5       6
4      9      10

In [73]:
ary=[[1,2],[3,4],[5,6],[7,8],[9,10]]
data=pd.DataFrame(ary,columns=['first','second'])
data
bools=[False,True,True,False,True]
data.second[bools]

1     4
2     6
4    10
Name: second, dtype: int64

In [74]:
data={'age':[23,43,12,45],'name':['민준','현우','서연','동현'],'height':[175.3,180.3,165.8,172.7]}
x=pd.DataFrame(data, columns=['name','age','height'])
x

  name  age  height
0   민준   23   175.3
1   현우   43   180.3
2   서연   12   165.8
3   동현   45   172.7

In [75]:
x.mean(axis=0)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

age        30.750
height    173.525
dtype: float64

In [76]:
x.mean(axis=1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

0     99.15
1    111.65
2     88.90
3    108.85
dtype: float64

In [77]:
ary=[[1,2],[3,4],[5,6],[7,8],[9,10]]
data=pd.DataFrame(ary,columns=['first','second'])
data

   first  second
0      1       2
1      3       4
2      5       6
3      7       8
4      9      10

In [78]:
data['first']=data['first'].astype('float')
data

   first  second
0    1.0       2
1    3.0       4
2    5.0       6
3    7.0       8
4    9.0      10

In [95]:
dir='/content/sample_data/sample kunsan..csv'
accident_data=pd.read_csv(dir, encoding='CP949')

In [96]:
head()

NameError: ignored

In [97]:
string_ex="It's good"
string_ex

"It's good"

In [101]:
string_ex='It's good''
string_ex

SyntaxError: ignored

In [103]:
string_ex="It\'s good"
string_ex

"It's good"

In [104]:
string_ex='It\'s good'
string_ex

"It's good"

In [105]:
string_ex='\"hello\", He said'
string_ex

'"hello", He said'

In [106]:
string_ex="\"hello\", He said"
string_ex

'"hello", He said'

In [108]:
string_ex='Hello\nBye\nHello Again!'
print(string_ex)

Hello
Bye
Hello Again!

In [109]:
string_ex='''Hello 
Bye
Hello Again!
'''
print(string_ex)

Hello
Bye
Hello Again!

In [111]:
a='hello'
b=' world'
c=a+b
print(c)

hello world

In [113]:
a='hello'
b=' world. '
c=a+b
d=c*2
print(d)

hello world. hello world.

In [114]:
print('='*10)
print('='*20)

==========
====================

In [115]:
print('='*50)
print('Result: ')
print('='*50)

==================================================
Result:
==================================================

In [116]:
a='Hello World'
len(a)

11

In [118]:
a='Hello World'
print(a[0])
print(a[1])
print(a[2])
print(a[3])
print(a[4])
print(a[5])
print(a[6])
print(a[7])
print(a[8])
print(a[9])
print(a[10])

H
e
l
l
o

W
o
r
l
d

In [119]:
a='Hello World'

print(a[-1])
print(a[-2])
print(a[-3])
print(a[-4])
print(a[-5])
print(a[-6])
print(a[-7])
print(a[-8])
print(a[-9])
print(a[-10])
print(a[-11])

d
l
r
o
W

o
l
l
e
H

In [122]:
a="I am %d years old." %30
print(a)

I am 30 years old.

In [123]:
a="I am %d years old." %29
print(a)

I am 29 years old.

In [124]:
name='Lyn Goo Lee'
a="My name is %s" %(name)
print(a)

My name is Lyn Goo Lee

In [125]:
a='Error is %f%%.' %98.3
print(a)

Error is 98.300000%.

In [126]:
a="%10s. Hello" %'hi'
print(a)

        hi. Hello

In [127]:
a="%-10s. Hello" %'hi'
print(a)

hi        . Hello

In [128]:
print('%0.4f' %1.123456789)

1.1235

In [129]:
print('%0.8f' %1.123456789)

1.12345679

In [131]:
a='hello'
a.count('l')

2

In [134]:
a="Python is the best"
a.find('b')

14

In [133]:
a.find('k')

-1

In [135]:
a="Life is too short"
a.index('t')

8

In [136]:
a.index('k')

ValueError: ignored

In [137]:
".".join('abcd')

'a.b.c.d'

In [138]:
a='Hello World'
a.lower()

'hello world'

In [140]:
a='Hello World'
a.upper()

'HELLO WORLD'

In [143]:
a=" hi "
a.lstrip()

'hi '

In [144]:
a=" hi "
a.rstrip()

' hi'

In [145]:
a=" hi "
a.strip()

'hi'

In [147]:
a="Life is too short"
a.replace("Life","Your leg")

'Your leg is too short'

In [149]:
f=open("test.txt", 'w')
for i in range(1,11):
  data='%d번째 줄입니다.\n'%i
  f.write(data)
f.close()